<ion-view view-title="Traffic">
    <ion-content class="padding">        
        <div class="button-bar">
            <a class="button" ng-class="{'active' : !vm.showChasing }" ng-click="vm.showChasing = false;">sers <i class="icon ion-ios7-telephone-outline"><span class="badge badge-stable icon-badge">{{vm.ChasersNo}}</span></i></a>
            <a class="button" ng-class="{'active' : vm.showChasing }" ng-click="vm.showChasing = true;">sing <i class="icon ion-ios7-telephone-outline"><span class="badge badge-stable icon-badge">{{vm.ChasingNo}}</span></i></a>
        </div>
        <div id="result">
            <div id="chasers" ng-show="!vm.showChasing" class="chasers">
                <div class="zeroResults" ng-show="vm.Chasers.length === 0">
                    <h2>no chasers homie</h2>
                </div>
                <ion-list ng-show="vm.Chasers.length > 0">
                    <ion-item class="item-avatar item-icon-right" ng-repeat="chaser in vm.Chasers" type="item-text-wrap" href="#/main/traffic/user/{{chaser.username}}">
                        <img ng-src="{{chaser.photo && imageURL + chaser.id + '.png' || 'img/default_avatar.png' }}">
                        <h2>{{chaser.username}}</h2>
                        <p>{{chaser.firstName}}&nbsp;{{chaser.lastName}}</p>
                    </ion-item>
                </ion-list>
                <ion-infinite-scroll ng-if="vm.moChasers" on-infinite="vm.loadMoreChasers()" distance="30%"></ion-infinite-scroll>
            </div>
            <div id="chasing" ng-show="vm.showChasing" class="chasing">
                <div class="zeroResults" ng-show="vm.Chasing.length === 0">
                    <h2>not chasing anyone</h2>
                </div>
                <ion-list ng-show="vm.Chasing.length > 0">
                    <ion-item class="item-avatar item-icon-right" ng-repeat="chaser in vm.Chasing" type="item-text-wrap" href="#/main/traffic/user/{{chaser.username}}">
                        <img ng-src="{{chaser.photo && imageURL + chaser.id + '.png' || 'img/default_avatar.png' }}">
                        <h2>{{chaser.username}}</h2>
                        <p>{{chaser.firstName}}&nbsp;{{chaser.lastName}}</p>
                        <!-- <i class="icon ion-chatbubble muted"></i> -->
                    </ion-item>
                </ion-list>
                <ion-infinite-scroll ng-if="vm.moChasing" on-infinite="vm.loadMoreChasing()" distance="30%"></ion-infinite-scroll>
            </div>
        </div>
    </ion-content>
</ion-view>
